<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azfuncpagg.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/343614cd-7830-4147-a128-4631e774284d/resourceGroups/fiap-grupo30-fase04/providers/Microsoft.Web/sites/azfuncpagg</ResourceId>
    <UserName>$azfuncpagg</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azfuncpagg.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>